::ng-deep .p-drawer-content {
  padding: 0;
}

.button-theme {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  
}

.container {
  position: fixed;
  z-index: 1010;
}

::ng-deep .p-drawer-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    flex-grow: 1;
    text-align: start;
}

::ng-deep .p-drawer-header{
  border-bottom: solid 1px #d1d5db;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  overflow: none;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #b2b2b4;
      transform: translateX(4px);
    }

    .pi {
      font-size: 1.2rem;
      margin-right: 1rem;
      min-width: 24px; 
      text-align: center;
    }
  }
}

span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.menu-list span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}